<html>
    <head>
        <meta charset="utf-8">
        <title>Atualizar</title>
    </head>
    <body>
        <h1>Atualizar</h1>
        <hr>
       <form action="" method="POST">
       <table>
           <tr>
               <td>Nome</td>
                <td><input type="text" name="nome" value="{{ livros.nome }}"></td>
           </tr>
           <tr>
            <td>Escritor</td>
             <td><input type="text" name="escritor"value="{{ livros.escritor }}"></td>
        </tr>
       </table><br>
       <input type="submit" value="Atualizar Dados">
    </form>
    <a href="index">Voltar</a>
    </body>
</html>
