<html>
    <head>
        <meta charset="utf-8">
        <title>livraria</title>
    </head>
    <body>
        <h1>livraria</h1>
        <hr>
        <table border="cv4">
            <tr>
                <td>ID</td>
                <td>Nome</td>
                <td>Escritor</td>
                <td>Excluir</td>
                <td>Atualizar</td>
            </tr>
            {% for livro in livros %}
            <tr>
                <td>{{ livro.id }}</td>
                <td>{{ livro.nome }}</td>
                <td>{{ livro.escritor }}</td>
                <td><a href="/excluir/{{ livro.id }}">x</a></td>
                <td><a href="/atualizar/{{ livro._id }}">Atualizar</a></td>
            </tr>
            {% endfor %}
        </table>
        <a href="/index">Voltar</a>
    </body>
</html>